* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  color: white;
  background-color: #69c0ff;
  font-size: 24px;
  font-weight: bolder;
}

.main {
  padding: 16px 24px;
  flex: 1;
}

.table-list {
  margin: 16px auto;
  width: 960px;
}
